*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border: 1px solid black;
}
h1{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 3em;
}
h5{
    font-size: 8em;
    font-weight: 700;
}
p{
    font-size: 8em;
    font-weight: 700;
}